* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;

  background-image: repeating-conic-gradient(#ffebc1 0% 25%, #fff8ea 0% 50%);
  background-size: 200px 200px;
  animation: checkerMove 6s linear infinite;

  overflow-x: hidden;
}
@keyframes checkerMove {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -200px 200px;
  }
}

#control-container {
  display: flex;
  justify-content: center;
  gap: 24px;

  width: 100vw;
}

@media (max-width: 768px) {
  #control-container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
  }
}
